    
.footer {
    background: darkgreen;
    height: 100px;
    position: relative;
    color: white;
    overflow: auto;
}

.footer>.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    padding: 8px;
    font-weight: 600;
} 

.footer img {
    height: 30px;
    width: 32px;
}