.jumbotron {
    min-height: 500px;
    margin-top: -5%;
    padding: 180px 20px;
    padding-bottom: 140px;
    text-align: center;
    color: black;
    background: slategray;    
}

.jumbotron h1 {
    font-size: 60px
}